<div class="d-flex justify-content-center">
  <div
    class="card mt-3 text-dark text-center shadow card-no-hover"
    style="width: 100%; max-width: 800px"
  >
    <div class="card-header">
      <h1 class="h4 mb-0">Excluir App</h1>
    </div>

    <div class="card-body">
      <form method="post">
        <div class="form-group">
          Você deseja realmente excluir o app: <b>{{titulo}} ({{link}})</b>
        </div>
        <div class="form-group">
          <button type="submit" class="shadow btn btn-danger mt-3">
            Excluir
          </button>
          <a href="{{URL}}/app"
            ><button type="button" class="shadow btn btn-warning mt-3">
              Voltar
            </button></a
          >
        </div>
      </form>
    </div>
  </div>
</div>
