<div class="col position-relative">
  <div class="card card-app h-100 text-center position-relative">
    <!-- Botão/link de exclusão -->
    <a
      href="apps/excluir?id={{id}}"
      class="btn-close position-absolute top-0 end-0 m-2"
      aria-label="Excluir"
    ></a>

    <a href="http://{{link}}" class="card-link d-block h-100">
      <div class="image-container">
        <img src="{{img}}" />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
      </div>
    </a>
  </div>
</div>
