<tr>
  <td class="text-center">{{id}}</td>
  <td class="text-center">{{numero}}</td>
  <td class="text-center">{{data}}</td>
  <td class="text-center">{{tipo}}</td>
  <td class="text-center">{{nome_tecnico}}</td>
  <td class="text-center">{{cliente}}</td>
  <td class="text-center">{{imagens}}</td>
  <td class="text-center">{{equipamentos}}</td>
  <td class="text-center">{{confirmacao}}</td>
  <td class="text-center">
    <a href="{{URL}}/os?id={{id}}" class="me-1">
      <button type="button" class="shadow btn btn-primary">Ver</button>
    </a>
  </td>
</tr>
