<!-- Card de Tabela de Eventos -->
<div class="container">
  <div class="card mt-4 shadow-sm border-1">
    <div class="card-header">
      <h5 class="card-title">Perdidas</h5>
    </div>
    <div class="card-body">
      {{status}}
      <table id="table" class="table table-bordered text-center shadow">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Motivo</th>
            <th scope="col">Espera</th>
            <th scope="col">Posição</th>
            <th scope="col">Originador</th>
            <th scope="col">Data</th>
            <th scope="col">DNIS</th>
          </tr>
        </thead>
        <tbody>
          {{itens}}
        </tbody>
      </table>
    </div>
  </div>
</div>
