<div
  class="card card-comentario mt-3 text-dark text-center shadow card-no-hover me-3"
  id="div-comentarios"
>
  <div class="card-header">
    <h1 class="h4 mb-0">Comentários</h1>
  </div>

  <div class="card-body card-body-comentario">
    <table
      id="comentarios"
      class="table table-comentario table-bordered text-center shadow"
    >
      <thead>
        <tr>
          <th scope="col" class="text-center"></th>
          <th scope="col" class="text-center">#</th>
          <th scope="col" class="text-center">Autor</th>
          <th scope="col" class="text-center">Data</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <button
              type="button"
              class="shadow btn btn-outline-success"
              data-bs-toggle="modal"
              data-bs-target="#modal-novo"
            >
              <i class="bi bi-clipboard-plus"></i> Novo comentário
            </button>
          </td>
        </tr>
      </tfoot>
    </table>

    <div class="alert alert-comentario alert-light shadow mt-3 text-justify">
      <p id="alert">Selecione um comentário</p>
    </div>
  </div>
</div>
{{modal}}
