<div class="graficos">
  <div class="d-flex justify-content-center gap-3">
    <!-- Primeiro gráfico (meia largura) -->
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Notas (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoNotasCordialidade"></canvas>
        </div>
      </div>
    </div>

    <!-- Segundo gráfico (meia largura) -->
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">CSAT (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoCSATCordialidade"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center gap-3">
    <!-- Primeiro gráfico (meia largura) -->
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Elogios por agente (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoAgentesPositivoCordialidade"></canvas>
        </div>
      </div>
    </div>

    <!-- Segundo gráfico (meia largura) -->
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Críticas por agente (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoAgentesNegativoCordialidade"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="graficos">
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Histórico de Notas</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoAnoCordialidade"></canvas>
      </div>
    </div>
  </div>
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Nota Média Mês a Mês</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoMediasAnoCordialidade"></canvas>
      </div>
    </div>
  </div>
</div>
