<div class="graficos">
  <!-- Primeiro gráfico menor -->
  <div class="card mt-4 shadow border-1" style="width: 70%; margin: 0 auto">
    <div class="card-header">
      <h5 class="card-title text-center">Resolutividade (%)</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoNotasCordialidade"></canvas>
      </div>
    </div>
  </div>

  <!-- Gráficos de linha originais -->
  <div class="d-flex justify-content-center gap-3">
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Resolução por agente (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoAgentesPositivoCordialidade"></canvas>
        </div>
      </div>
    </div>

    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Irresolução por agente (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoAgentesNegativoCordialidade"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="graficos">
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Histórico de Resolutividade</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoAnoCordialidade"></canvas>
      </div>
    </div>
  </div>
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Resolutividade Mês a Mês</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoMediasAnoCordialidade"></canvas>
      </div>
    </div>
  </div>
</div>
