<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card Em Análise -->
    {{cards}}
  </div>
  <div class="card mt-4 shadow-sm border-1">
    <div class="card-header">
      <h5 class="card-title">Notas</h5>
    </div>
    <div class="card-body">
      {{status}}
      <form method="post" action="delete?{{URI}}" id="formNotas">
        <table id="notas" class="table table-bordered text-center shadow">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">Protocolo</th>
              <th scope="col" class="text-center">Data</th>
              <th scope="col" class="text-center">Resolvido</th>
              <th scope="col" class="text-center">Equipe</th>
              <th scope="col" class="text-center">Agente</th>
              <th scope="col" class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {{itens}}
          </tbody>
        </table>

        <div id="inputsHidden"></div>
        <div class="d-flex justify-content-center">
          <a
            class="shadow btn btn-pink btn-lg mt-3"
            href="{{URL}}/notas-cordialidade/relatorios?{{URI}}"
            style="font-size: 18px; padding: 15px 30px"
          >
            Baixar CSV
          </a>
          <a
            class="shadow btn btn-pink btn-lg mt-3"
            href="{{URL}}/notas-cordialidade/graficos?{{URI}}"
            style="font-size: 18px; padding: 15px 30px"
          >
            Gráficos
          </a>
          <button type="submit" class="shadow btn btn-pink btn-lg mt-3">
            Excluir
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
