<table
  style="width: 400px"
  border="0"
  cellspacing="1"
  cellpadding="1"
  align="center"
>
  <tbody>
    <tr>
      <td style="text-align: center; width: 621px" colspan="4">
        <img
          style="border: 0px; height: auto; width: 600px"
          title="GGNET"
          src="https://ftp.gegnet.com.br/~ede/MarketingTelge/GGNETFibra.gif"
          alt="Cabecalho"
        />
      </td>
    </tr>
    <tr>
      <td style="text-align: justify; width: 621px" colspan="4">
        <p style="text-align: left">
          Prezado(a) <strong>{{nome}}</strong><br /><br />

          Informamos que ocorrerá uma manutenção emergencial em nossa rede para
          garantia da qualidade dos serviços prestados.<br /><br />

          Por este motivo o(a) Sr(a) poderá ficar sem acesso ou perceber
          instabilidade em alguns momentos durante o período abaixo:<br /><br />
          <strong>Data Início:</strong> {{horario-inicial}}<br />
          <strong>Previsão de Conclusão:</strong> {{horario-previsto}}<br />
          <strong>OBS:</strong> A manutenção pode ser cancelada caso ocorram
          mudanças climáticas.<br /><br />

          Se após este período o seu acesso não retornar solicitamos que
          desligue seus equipamentos da tomada de energia por 2min e depois
          ligue novamente.<br /><br />

          Por gentileza não responda esse e-mail. Se mesmo assim seu acesso não retornar, por favor, entre em contato
          com nosso suporte conforme informações abaixo:
          <br /><br />
          <strong>WhatsApp:</strong> <a href=https://wa.me/5508006454300>https://wa.me/5508006454300</a><br />
          <strong>E-mail: </strong> <a href="mailto:suporte@gegnet.com.br">suporte@gegnet.com.br</a><br />
          <br /><br />

          <strong
            >Desde já agradecemos a compreensão de todos e reiteramos nossa
            disponibilidade para lhe atender e auxiliar na resolução de qualquer
            dúvida referente o serviço contratado.</strong
          ><br /><br />

          Atenciosamente,<br />
          <strong>GGNET TELECOMUNICAÇÕES</strong>
        </p>
      </td>
    </tr>
  </tbody>
</table>
