<table
  style="width: 400px"
  border="0"
  cellspacing="1"
  cellpadding="1"
  align="center"
>
  <tbody>
    <tr>
      <td style="text-align: center; width: 621px" colspan="4">
        <img
          style="border: 0px; height: auto; width: 600px"
          title="GGNET"
          src="https://ftp.gegnet.com.br/~ede/MarketingTelge/GGNETFibra.gif"
          alt="Cabecalho"
        />
      </td>
    </tr>
    <tr>
      <td style="text-align: justify; width: 621px" colspan="4">
        <p style="text-align: left">
          Prezado(a) <strong>{{nome}}</strong><br /><br />

          Informamos que ocorreu um incidente em nossa rede, a equipe está
          trabalhando para resolver o quanto antes. Desde já pedimos desculpa
          pelo transtorno.<br /><br />

          Por este motivo o(a) Sr(a) está sem acesso desde o horário abaixo:<br /><br />
          <strong>Data Início:</strong> {{horario-inicial}} <br /><br />

          Por gentileza não responda esse e-mail. Se você tiver alguma dúvida ou
          precisar de assistência adicional relacionada aos nossos serviços, não
          hesite em entrar em contato com nossa equipe de suporte através dos
          seguintes canais:
          <br /><br />
          <strong>WhatsApp:</strong>
          <a href="https://wa.me/5508006454300">https://wa.me/5508006454300</a
          ><br />
          <strong>E-mail: </strong>
          <a href="mailto:suporte@gegnet.com.br">suporte@gegnet.com.br</a
          ><br /><br />

          <strong
            >Desde já agradecemos a compreensão de todos e reiteramos nossa
            disponibilidade para lhe atender e auxiliar na resolução de qualquer
            dúvida referente o serviço contratado.</strong
          ><br /><br />

          Atenciosamente,<br />
          <strong>GGNET TELECOMUNICAÇÕES</strong>
        </p>
      </td>
    </tr>
  </tbody>
</table>
