<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <style>
      hr {
        background-color: white;
      }
      body {
        background-color: #f2d4d4;
      }
    </style>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>Login</title>
  </head>
  <body class="text-light">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center">
          <div
            class="card mt-3 text-dark text-center shadow card-no-hover"
            style="width: 100%; max-width: 800px"
          >
            <div class="card-header">
              <h1 class="h4 mb-0">Cadastrar Protocolo duplicado</h1>
            </div>
        
            <div class="card-body">
              <form method="post" action="{{rota}}">
                {{itens}}
                <div class="form-group">
                  Já existe um evento cadastrato com o protocolo
                  <b>{{protocolo}}</b> com o status: <b>{{status}}</b>
                </div>
                <div class="form-group">
                  <button type="submit" class="shadow btn btn-danger mt-3">Cadastrar</button>
                  <a href="{{URL}}/evento/novo?tipo={{tipo}}"
                    ><button type="button" class="shadow btn btn-warning mt-3">
                      Voltar
                    </button></a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
