<div class="graficos">
  <!-- Gráficos de linha originais -->
  <div class="card mt-4 shadow border-1" style="width: 70%; margin: 0 auto">
    <div class="card-header">
      <h5 class="card-title text-center">Clientes Afetados</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoMassivasClientes"></canvas>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center gap-3">
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Regionais</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoMassivasRegionais"></canvas>
        </div>
      </div>
    </div>

    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Tipos</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoMassivasTipos"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="graficos">
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Histório Regionais</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graifcoMassivasHistRegionais"></canvas>
      </div>
    </div>
  </div>
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Histório Tipos</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoMassivasHistTipos"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="graficos">
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Histório Clientes</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoMassivasHistClientes"></canvas>
      </div>
    </div>
  </div>
</div>
