<div class="d-flex justify-content-center">
  <div
    class="card mt-3 text-dark text-center shadow card-no-hover"
    style="width: 100%; max-width: 600px"
  >
    <div class="card-header">
      <h1 class="h4 mb-0">Excluir Evento</h1>
    </div>

    <div class="card-body">
      <form method="post">
        <div class="form-group mb-3 w-75 mx-auto text-center">
          <p>Você realmente deseja excluir o evento selecionado?</p>
        </div>
        <div class="d-flex justify-content-center gap-3 mb-2">
          <a href="{{URL}}/massivas" class="shadow btn btn-blue">Voltar</a>
          <button type="submit" class="shadow btn btn-danger">Excluir</button>
        </div>
      </form>
    </div>
  </div>
</div>
