<div class="d-flex justify-content-center">
  <div
    class="card mt-3 text-dark text-center shadow card-no-hover"
    style="width: 100%; max-width: 600px"
  >
    <div class="card-header">
      <h1 class="h4 mb-0">Nova Perdida</h1>
    </div>

    <div class="card-body">
      {{status}}
      <form method="post">
        <div class="form-group mb-3 w-75 mx-auto text-center">
          <label for="dataInicio" class="form-label">Data Inicio:</label>
          <input
            name="dataInicio"
            type="datetime-local"
            class="form-control shadow text-center"
            required
          />
        </div>
        <div class="form-group mb-3 w-75 mx-auto text-center">
          <label for="dataFim" class="form-label">Data Fim:</label>
          <input
            name="dataFim"
            type="datetime-local"
            class="form-control shadow text-center"
            required
          />
        </div>
        <div class="form-group mb-3 w-75 mx-auto text-center">
          <label for="evento" class="form-label">Evento Originador:</label>
          <textarea name="evento" class="form-control shadow"></textarea>
        </div>
        <div class="d-flex justify-content-center gap-3 mb-2">
          <a href="{{URL}}/" class="shadow btn btn-blue">Voltar</a>
          <button type="submit" class="shadow btn btn-blue">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
