<tr>
  <td class="text-center">{{id}}</td>
  <td class="text-center">{{evento}}</td>
  <td class="text-center">{{dataInicio}}</td>
  <td class="text-center">{{dataFim}}</td>
  <td class="justify-content-center gap-2">
    <a
      href="{{URL}}/massivas/form/edit?id={{id}}"
      class="me-1"
      style="text-decoration: none"
    >
      <button type="button" class="shadow btn btn-primary">Editar</button>
    </a>
    <a
      href="{{URL}}/massivas/delete?id={{id}}"
      class="me-1"
      style="text-decoration: none"
    >
      <button type="button" class="shadow btn btn-danger">Excluir</button>
    </a>
  </td>
</tr>
