<!-- Card de Tabela de Eventos -->
<div class="container">
  <div class="card mt-4 shadow-sm border-1">
    <div class="card-header">
      <h5 class="card-title">Eventos Massivos</h5>
    </div>
    <div class="card-body">
      {{status}}
      <table id="massiva" class="table table-bordered text-center shadow">
        <thead>
          <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">Evento</th>
            <th class="text-center" scope="col">Data Inicio</th>
            <th class="text-center" scope="col">Data Fim</th>
            <th class="text-center" scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {{itens}}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <a
                href="{{URL}}/massivas/form"
                class="btn btn-outline-primary shadow"
              >
                <i class="bi bi-clipboard-plus"></i> Novo
              </a>
              <a
                class="btn btn-outline-primary shadow"
                href="{{URL}}/massivas/relatorios"
              >
                <i class="bi bi-cloud-download"></i> Baixar CSV
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
