<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="{{URL}}/resources/js/chart.js"></script>
<div class="graficos">
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">DEX</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoDEX"></canvas>
      </div>
    </div>
  </div>
</div>
