<div class="graficos">
  <div class="d-flex justify-content-center gap-3">
    <!-- Primeiro gráfico (meia largura) -->
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Notas (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoNotasUra"></canvas>
        </div>
      </div>
    </div>

    <!-- Segundo gráfico (meia largura) -->
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">CSAT (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoCSATUra"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center gap-3">
    <!-- Primeiro gráfico (meia largura) -->
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Elogios por agente (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoAgentesPositivoUra"></canvas>
        </div>
      </div>
    </div>

    <!-- Segundo gráfico (meia largura) -->
    <div class="card mt-4 shadow border-1" style="width: 100%">
      <div class="card-header">
        <h5 class="card-title text-center">Críticas por agente (%)</h5>
      </div>
      <div class="card-body">
        <div class="chart">
          <canvas id="graficoAgentesNegativoUra"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="graficos">
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Média de notas por agente</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <table
          id="mediaNotasUra"
          class="table table-bordered text-center shadow"
        >
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col" class="text-center">Agente</th>
              <th scope="col" class="text-center">Total</th>
              <th scope="col" class="text-center">Media</th>
              <th scope="col" class="text-center">Promotores</th>
              <th scope="col" class="text-center">Neutros</th>
              <th scope="col" class="text-center">Detratores</th>
              <th scope="col" class="text-center">CSAT</th>
            </tr>
          </thead>
          </div>
        </table>
                  <div class="d-flex justify-content-center">
            <a
              class="shadow btn btn-pink btn-lg mt-3"
              href="{{URL}}/notas-ura/media/relatorios?{{URI}}"
              style="font-size: 18px; padding: 15px 30px"
            >
              Baixar CSV
            </a>
      </div>
    </div>
  </div>
</div>
<div class="graficos">
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Histórico de Notas</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoAnoUra"></canvas>
      </div>
    </div>
  </div>
  <div class="card mt-4 shadow border-1">
    <div class="card-header">
      <h5 class="card-title text-center">Nota Média Mês a Mês</h5>
    </div>
    <div class="card-body">
      <div class="chart">
        <canvas id="graficoMediasAnoUra"></canvas>
      </div>
    </div>
  </div>
</div>
