<!-- Card de Tabela de Eventos -->
<div class="container">
  <div class="card mt-4 shadow-sm border-1">
    <div class="card-header">
      <h5 class="card-title">Usuários</h5>
    </div>
    <div class="card-body">
      {{status}}
      <table id="table" class="table table-bordered text-center shadow">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">Privilegio</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {{itens}}
        </tbody>
      </table>
    </div>
  </div>
</div>
