<div class="d-flex justify-content-center">
  <div
    class="card mt-3 text-dark text-center shadow card-no-hover"
    style="width: 100%; max-width: 800px"
  >
    <div class="card-header">
      <h1 class="h4 mb-0">{{title}}</h1>
    </div>

    <div class="card-body">
      {{status}}
      <form method="post">
        <!-- Protocolo ISP -->
        <div class="form-group mb-3 w-75 mx-auto text-center">
          <label for="protocolo-isp" class="form-label">Protocolo ISP</label>
          <input
            name="protocolo-isp"
            type="text"
            id="protocolo-isp"
            class="form-control shadow"
            placeholder="Digite o protocolo ISP"
            value="{{protocolo}}"
            required
          />
        </div>

        <div class="form-group mb-3 w-75 mx-auto text-center">
          <label for="protocolo-isp" class="form-label">Host</label>
          <input
            name="host"
            type="text"
            id="host"
            class="form-control shadow"
            placeholder="Digite o Nome do Host"
            value="{{host}}"
            required
          />
        </div>

        <!-- Horário Inicial -->
        <div class="form-group mb-3 w-75 mx-auto text-center">
          <label for="horario-inicial" class="form-label">Data</label>
          <input
            name="data"
            type="datetime-local"
            id="horario-inicial"
            class="form-control shadow"
            value="{{data}}"
            required
          />
        </div>
        <!-- Regional -->
        {{regionais}}

        <!-- Observação -->
        <div class="form-group mb-3 w-75 mx-auto text-center">
          <label for="observacao" class="form-label">Observação</label>
          <textarea
            name="observacao"
            id="observacao"
            class="form-control shadow"
            placeholder="Adicione observações sobre o evento"
          >
{{observacao}}</textarea
          >
        </div>

        <!-- Botões -->
        <div class="d-flex justify-content-center gap-3 mb-2">
          <a href="{{URL}}/proatividade" class="shadow btn btn-pink">Voltar</a>
          <button type="submit" class="shadow btn btn-pink">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>
