<tr data-url="{{URL}}/evento/edit?id={{id}}">
  <td class="{{status}}"></td>
  <td class="text-center">{{protocolo}}</td>
  <td class="text-center">{{tipo}}</td>
  <td class="text-center">{{horario-inicial}}</td>
  <td
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="{{pontos-acesso}}"
    class="text-center"
  >
    {{pontos-acesso}}
  </td>
  <td class="text-center">{{regional}}</td>
  <td
    data-bs-toggle="tooltip"
    data-bs-placement="bottom"
    title="{{observacao}}"
    class="text-center"
  >
    {{observacao}}
  </td>
  <td class="text-center">{{email}}</td>
</tr>
