<!-- Card de Tabela de Eventos -->
<div class="card mt-4 shadow-sm border-1">
  <div class="card-header">
    <h5 class="card-title">Clientes Afetados</h5>
  </div>
  <div class="card-body">
    <table id="tableEvento" class="table table-bordered shadow">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" class="text-center">Evento</th>
          <th scope="col" class="text-center">Código</th>
          <th scope="col" class="text-center">Nome</th>
          <th scope="col" class="text-center">Ponto Acesso</th>
        </tr>
      </thead>
      <tbody>
        {{itens}}
      </tbody>
    </table>
  </div>
</div>
