<div class="d-flex justify-content-center">
  <div
    class="card mt-3 text-dark text-center shadow card-no-hover"
    style="width: 100%; max-width: 500px"
  >
    <div class="card-header">
      <h1 class="h4 mb-0">Enviar E-mails</h1>
    </div>

    <div class="card-body d-flex justify-content-center">
      <form method="post">
        <div class="form-group">
          <h6 class="mb-3 fs-5">Modelo de E-mail:</h6>
        </div>
        <div class="form-group ms-3 mt-3">
          <select
            style="width: 100%; min-width: 250px"
            class="form-select text-center pe-1"
            name="email"
            id="email"
            required
          >
            <option disabled selected value="">Selecione o Modelo</option>
          </select>
        </div>
        <div class="form-group ps-3">
          <button type="submit" class="shadow btn btn-pink mt-3">Enviar</button>
          <a
            style="text-decoration: none; color: #4f4f4f"
            href="/evento/edit?id={{id}}"
          >
            <button type="button" class="shadow btn btn-pink mt-3">
              Voltar
            </button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
