<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{{URL}}/resources/css/style.css" />
    <script src="{{URL}}/resources/js/js.js"></script>
    <title>Login > ToolsVGL</title>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div
          class="card card-lg mt-3 text-dark text-center shadow"
          style="width: 500px"
        >
          <div class="card-header">
            <h1 class="h4 mb-0">Login</h1>
          </div>

          <div class="card-body">
            {{status}}
            <form method="post">
              <div class="form-group mb-3 w-75 mx-auto text-center">
                <label for="login" class="form-label">Login</label>
                <input
                  name="login"
                  type="text"
                  id="login"
                  class="form-control shadow"
                  placeholder="Login"
                  required
                  autofocus
                />
              </div>
              <div class="form-group mb-3 w-75 mx-auto text-center">
                <label for="senha" class="form-label">Senha</label>
                <input
                  name="senha"
                  type="password"
                  id="senha"
                  class="form-control shadow"
                  placeholder="********"
                  required
                />
              </div>
              <button
                type="submit"
                class="shadow btn btn-blue btn-lg text-dark w-100"
              >
                Entrar
              </button>
            </form>
          </div>
          <div class="card-footer text-muted">
            <small>© 2025 - Desenvolvido por Vogel</small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
