<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <style>
      hr {
        background-color: white;
      }
      body {
        background-color: #d0e7f9;
      }
    </style>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>Recuperar Senha</title>
  </head>
  <body class="text-light">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div
          class="card card-lg mt-3 text-dark text-center shadow"
          style="
            width: 500px;
            background-color: #fff;
            border: 1px solid #87ceeb;
          "
        >
          <div
            class="card-header"
            style="
              background-color: #b0d4ee;
              color: #4f4f4f;
              border-bottom: 1px solid #87ceeb;
            "
          >
            <h1 class="h4 mb-0">Recuperar Senha</h1>
          </div>

          <div class="card-body">
            {{status}}
            <form method="post">
              <div class="form-group mb-3 w-75 mx-auto text-center">
                <label for="email" class="form-label"
                  >Digite o e-mail para recuperar sua senha:
                </label>
                <input
                  name="email"
                  type="email"
                  id="email"
                  class="form-control shadow"
                  placeholder="email@teste.com"
                  required
                  autofocus
                />
              </div>
              <button
                type="submit"
                class="shadow btn btn-lg text-dark w-100"
                style="background-color: #87ceeb; border: none"
              >
                Recuperar Senha
              </button>
              <a href="{{URL}}/login" class="text-muted">Entrar</a>
            </form>
          </div>
          <div
            class="card-footer text-muted"
            style="
              background-color: #d0e7f9;
              color: #6c757d;
              border-top: 1px solid #87ceeb;
            "
          >
            <small>© 2024 - Desenvolvido por Vogel</small>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41rJStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
